// Card
mat-card {
    display: flex;
}

mat-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
mat-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
}

mat-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

mat-card .receta-detalles {
    display: flex;
    flex-direction: column;
}
