<mat-toolbar color="accent">
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center">
                <span class="brand mr-3" routerLink="/">Cook App</span>
                <div class="d-flex w-100">
                    <button mat-button routerLink="/recetas">Recetas</button>
                    <button mat-button routerLink="/categorias">Categorías</button>
                    <button class="ml-auto" mat-button routerLink="/login">
                        <mat-icon class="mr-2">account_circle</mat-icon> Carlos Perez
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>