<form [formGroup]="recetaForm" (ngSubmit)="onSubmit($event)">
    <div class="row">
        <div class="col-8">
            <mat-form-field appearance="outline">
                <mat-label>Título</mat-label>
                <input formControlName="title" matInput placeholder="¿Que vas a hacer de rico?" autofocus>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea formControlName="description" id="description" matInput #description matAutosize
                    matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10"></textarea>
            </mat-form-field>

            <div class="mb-3">
                Ingredientes
            </div>

            <div id="form-ingredientes" *ngFor="let ingrediente of t.controls; let i = index">
                <div [formGroup]="ingrediente">
                    <mat-form-field appearance="outline">
                        <input formControlName="ingrediente" matInput
                            [placeholder]="i == 0 ? '🍰 Harina 000 1kg': i == 1 ? '🍅 Salsa de tomates 250g' : ''"
                            id="i-{{i}}" (keyup.enter)="insertItem(i)">
                    </mat-form-field>
                    <button mat-icon-button color="warn" type="button" (click)="removeItem(i)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>

            <button mat-flat-button type="button" color="primary" (click)="addItem()" class="mt-3">Agregar
                ingrediente
            </button>

        </div>
        <div class="col-4">
            <mat-card>

                <div class="form-control">
                    <label>Portada</label>
                    <div class="form-img" [ngClass]="imgUrl ? 'uploaded' : ''">
                        <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image"
                            autocomplete="off" />
                        <span>Agregar imagen</span>

                        <img *ngIf="imgUrl" src="{{ imgUrl }}" alt="imagen">

                        <button mat-icon-button color="warn" type="button" (click)="quitarImagen()"></button>

                        <button *ngIf="imgUrl" type="button">borrar</button>

                    </div>
                </div>

                <div class="form-control">
                    <label>Porciones</label>
                    <mat-radio-group aria-label="Select an option" color="primary" formControlName="porciones">
                        <mat-radio-button class="d-block mb-2" *ngFor="let porcion of porcionesList" [value]="porcion">
                            {{ porcion }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-control">
                    <label>Dificultad</label>
                    <mat-radio-group aria-label="Select an option" color="primary" formControlName="dificultad">
                        <mat-radio-button *ngFor="let dificultad of dificultadList" [value]="dificultad">
                            {{ dificultad }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <button mat-flat-button color="primary" type="button" [disabled]="!recetaForm.valid" class="w-100"
                    (click)="onSubmit($event)">{{ id ? 'Guardar cambios' : 'Crear receta'}}
                </button>
            </mat-card>

        </div>
    </div>

</form>