@import "variables";

mat-form-field {
    width: 100%;
}

// Custom form
.form-control {
    margin-bottom: 1.25rem;

    > label {
        font-weight: 500;
    }
}

// Ingredientes dinámicos
#form-ingredientes {
    .mat-form-field:not(.mat-form-field-should-float) .mat-form-field-label-wrapper {
        top: -18px;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.3em 0 0.7em;
        line-height: 120%;
    }
}

// Text area
textarea.mat-input-element {
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #fff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: transparentize($primary-color, 0.3);
    }
}
