<section>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Mis Recetas</h2>
        <button mat-flat-button color="primary" routerLink="/panel/recetas/crear">Nueva receta</button>
    </div>

    <div class="row">
        <div *ngFor="let receta of recetas" class="col-6">
            <mat-card class="mb-4">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"
                        [style]="'background-image: url(./assets/recetas/' + (receta.img != null ? receta.img : 'placeholder.jpg')  + ');'"
                        [routerLink]="['editar', receta.id]">
                    </div>
                    <mat-card-title [routerLink]="['editar', receta.id]">{{ receta.title }}</mat-card-title>
                    <mat-card-subtitle class="mb-0">{{ receta.description | comments:40 }}</mat-card-subtitle>
                </mat-card-header>

                <button mat-icon-button color="warn" (click)="deleteReceta($event, receta)">
                    <mat-icon>clear</mat-icon>
                </button>

            </mat-card>
        </div>
    </div>
</section>